header {
    background-color: purple;
    color: aliceblue;
    width: 50%;
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    font-size: 30px;
}

#time {
    background-color: darkmagenta;
    color: aliceblue;
}

.commentSection {
    background-color: darkorchid;
    color: aliceblue;
}

#save {
    background-color: fuchsia;
    color: aliceblue;
}

#container {
    background-color: darkorchid;
    color: aliceblue;
}