* {
    padding: 10px;
}

header {
    background-color: purple;
    color: aliceblue;
    width: 50%;
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    font-size: 30px;
}

.hour {
    background-color: darkmagenta;
    color: aliceblue;
    border-radius: 10px 0px 0px 10px;
}

.textDisplay {
    flex-grow: 1;

}

.comment {
    background-color: darkorchid;
    color: aliceblue;
}

.saveButton {
    background-color: fuchsia;
    color: aliceblue;
    border-radius: 0px 10px 10px 0px;
}

#container {
    background-color: darkorchid;
    color: aliceblue;
    border: 20px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;

}